<%- include("../partials/header.ejs", {title: "Game Of Thrones"}) %>


<p>"That's what I do, I drink and I know things" - Tyrion Lannister</p>

<section>
  <!--<p><a href="/db-test">Clicking this link will test to see if your db connection is ok</a></p>-->



<h1>Welcome to our Game Of Thrones site!</h1>
<h2>Lovingly made by Team Loss!</h2>

<%- include("../partials/footer.ejs") %>